/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ff6666;
}

/* Rounded Styles */
.rounded {
    border-radius: 10px;
}

/* Home Section Styles */
#home {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    margin: 20px;
}

/* Disclaimer Section Styles */
#disclaimer {
    background-color: rgba(255, 102, 102, 0.8);
    padding: 10px;
    text-align: center;
    margin: 20px;
}

/* Welcome Section Styles */
#welcome {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Dotted Shapes Styles */
.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    animation: dot-animation 10s linear infinite;
}

@keyframes dot-animation {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100%);
    }
}
