body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden;
}

.rounded {
    border-radius: 10px;
}

#home {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#disclaimer {
    background-color: rgba(255, 102, 102, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
}

#welcome {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Add more styles here */
